.navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 31px;
    font-size: 24px;
    background: #020203;
    color: white;
    li:nth-child(1){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        color: #E60000;
    }
    li{
        max-width: 23%;
        padding: 31px;
        margin-left: 31px;
    }
    a{color:white}
}
.menu-graph-bloc{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    .vertical-nav{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 31px;
        background: #020203;
        li{
            padding: 31px;
        }
    
        a{color:white}
    }

}